/* map toggle work with twenty twenty template */

.leaflet-control-layers-list {
    padding: 0;
}
.leaflet-control-zoom-in .leaflet-control-zoom-out {
    text-decoration: none;
}



/*style the spot message table*/

tr.spotmap td:first-child {
    width:7em;
    cursor: pointer;
}

tr.spotmap td:last-child {
    width:7em;
}

tr.spotmap.OK td:first-child,
tr.spotmap.HELP-CANCEL td:first-child,
tr.spotmap.STATUS td:first-child {
    background-color: rgb(142, 223, 89,0.85);
    border-color: rgba(102, 255, 0, 0.85);
}
tr.spotmap.HELP td:first-child{
    background-color: rgb(255, 0, 0.85);
    border-color: rgb(255, 0, 0.85);
}
tr.spotmap.CUSTOM td:first-child{
    background-color: rgb(255, 255, 0.85);
    border-color: rgb(255, 255, 0.85);
}



div.easy-button-container > button.easy-button-button.leaflet-bar-part {
    background-color: white;
    padding: 0px;
}


span.button-state.state-all.all-active > .dashicons {
    position: absolute;
    top: 4px;
    left: 5px;
}