/* map toggle work with twenty twenty template */

.leaflet-control-layers-list {
    padding: 0;
}
.leaflet-control-zoom-in .leaflet-control-zoom-out {
    text-decoration: none;
}



/*style the spot message table*/

tr.spotmap td:first-child {
    width:7em;
    cursor: pointer;
}
tr.spotmap td:first-child:hover {
    width:7em;
    cursor: pointer;
}
tr.spotmap td:last-child {
    width:7em;
    cursor: pointer;
}

tr.spotmap.HELP-CANCEL td:first-child,
tr.spotmap.STATUS td:first-child {
    background-color: rgb(142, 223, 89,0.8);
    border-color: rgba(102, 255, 0, 0.8);
}
tr.spotmap.HELP td:first-child{
    background-color: rgb(255, 0, 0.8);
    border-color: rgb(255, 0, 0.8);
}
tr.spotmap.CUSTOM td:first-child{
    background-color: rgba(255, 128, 0, 0.5);
    border-color: rgb(255, 127,0,0.5);
}
